<%= form_for(@scorecard) do |f| %>
<%= f.select :industry, ['Technology', 'Medicine', 'Hospitality', 'Sales']%><br>
<br>
<div class="field">
    <%= f.label :name, "Scorecard Name" %><br>
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.label :position, "Position" %><br>
    <%= f.text_field :position %>
</div><br><br>
<div class="field">
    <%= f.text_field :attribute_name, :value=> "Relevant Experience" %>
</div><br>
<div class="field">
    <%= f.text_field :attribute_name, :value=> "Communication Skills" %>
</div><br>
<div class="field">
    <%= f.text_field :attribute_name, :value=> "Knowledge of Company" %>
</div><br>
<div class="field">
    <%= f.text_field :attribute_name, :value=> "Enthusiasm" %>
</div><br>
<div class="field">
    <%= f.text_field :attribute_name, :value=> "Cultural Fit" %>
</div><br>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
