<table>
  <thead>
    <tr>
      <th></th>
      <th><%= Candidate.find(1).name %></th>
      <th><%= Candidate.find(2).name %></th>
      <th><%= Candidate.find(3).name %></th>
      <th><%= Candidate.find(4).name %></th>
    </tr>
    <tr>
      <th>Relevant Experience</th>
      <td><%= Candidate.find(1).score_01 %></td>
      <td><%= Candidate.find(2).score_01 %></td>
      <td><%= Candidate.find(3).score_01 %></td>
      <td><%= Candidate.find(4).score_01 %></td>
    </tr>
    <tr>
      <th>Communication Skills</th>
      <td><%= Candidate.find(1).score_02 %></td>
      <td><%= Candidate.find(2).score_02 %></td>
      <td><%= Candidate.find(3).score_02 %></td>
      <td><%= Candidate.find(4).score_02 %></td>
    </tr>
    <tr>
      <th>Knowledge of Company</th>
      <td><%= Candidate.find(1).score_03 %></td>
      <td><%= Candidate.find(2).score_03 %></td>
      <td><%= Candidate.find(3).score_03 %></td>
      <td><%= Candidate.find(4).score_03 %></td>
    </tr>
    <tr>
      <th>Enthusiasm</th>
      <td><%= Candidate.find(1).score_04 %></td>
      <td><%= Candidate.find(2).score_04 %></td>
      <td><%= Candidate.find(3).score_04 %></td>
      <td><%= Candidate.find(4).score_04 %></td>
    </tr>
    <tr>
      <th>Cultural Fit</th>
      <td><%= Candidate.find(1).score_05 %></td>
      <td><%= Candidate.find(2).score_05 %></td>
      <td><%= Candidate.find(3).score_05 %></td>
      <td><%= Candidate.find(4).score_05 %></td>
    </tr>
    <tr>
      <th>Total</th>
      <td><%= Candidate.find(1).total_score(1) %></td>
      <td><%= Candidate.find(2).total_score(2) %></td>
      <td><%= Candidate.find(3).total_score(3) %></td>
      <td><%= Candidate.find(3).total_score(4) %></td>
    </tr>
  </thead>


</table>
